<!DOCTYPE html>
<html ng-app='root'>
    <head>
        <title>Cloudbeacon</title>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js'></script>
        <script src='root.js'></script>
    </head>
    <body>
        <div id='#welcome' ng-controller='index'>
            <h1 ng-if='isUser'>Good {{timeperiod}} {{name}}. How are you?</h1>
            <h1 ng-if='!isUser'>Hello. It seems we haven't met before, what is your name?</h1>
            <form ng-submit='submit()' ng-show='!isUser' >
                <input type='text' ng-model='name' />
                <input type='submit' />
            </form>
            <button ng-click='clear()'>clear</button>
        </div>
    </body>
</html>
      
