<!DOCTYPE html>
<html ng-app='root'>
    <head>
        <title>Cloudbeacon</title>
        <script src='angular.js'></script>
        <script src='angular-cookies.js'></script>
        <script src='root.js'></script>
    </head>
    <body>
        <div id='#welcome' ng-controller='index'>
            <div ng-show='!isUser'>
                <h1>
                    Hello. It seems we haven't met before, what is your name?
                </h1>
                <form ng-submit='submit()'>
                    <input type='text' ng-model='name'>
                    <input type='submit'>
                </form>
            </div>
            <div ng-show='isUser'>
                <h1>
                    Good {{timeperiod}} {{name}}. How are you?
                </h1>
                <h2>
                    Today is {{time | date:fullDate}}. It's currently {{time | date:'HH:mm:ss'}}
                </h2>
                <form ng-submit='todoAdd()'>
                    <input type='text' ng-model='todoInput' size='100' placeholder='Add new task'>
                    <input type='submit' value='Add'>
                </form>
                <div ng-repeat='item in todoList'>
                    <input type='checkbox' ng-model='item.done'><span ng-bind='item.todoText'></span>
                </div>
                <button ng-click='remove()'>Delete selected</button>
                <button ng-click='clear()'>clear</button>
            </div>
        </div>
    </body>
</html>

