<!DOCTYPE html>
<html ng-app='root'>
    <head>
        <title>Cloudbeacon</title>
        <script src='angular.js'></script>
        <script src='angular-cookies.js'></script>
        <script src='root.js'></script>
        <link rel='stylesheet' href='main.css'>
    </head>
    <body>
        <div id='app' ng-controller='index'>
            <div ng-show='!isUser'>
                <h1>
                    Hello. It seems we haven't met before, what is your name?
                </h1>
                <form ng-submit='submit()'>
                    <input type='text' ng-model='name'>
                    <input type='submit'>
                </form>
            </div>
            <div ng-show='isUser'>
                <h1>
                    {{timestring}} {{name}}. How are you?
                </h1>
                <h2>
                    Today is {{time | date:fullDate}}. It's currently {{time | date:'h:mm a'}}
                </h2>
                <div id='todo-list-container'>
                    <form ng-submit='todoAdd()'>
                        <input id='enter-task' type='text' ng-model='todoInput' placeholder='Add new task'>
                        <input id='submit-task' type='submit' value='&#10095;'>
                    </form>
                    <div ng-repeat='item in todoList'>
                        <input type='checkbox' ng-model='item.done'><span ng-bind='item.todoText'></span>
                    </div>
                </div>
                <button ng-click='remove()'>Delete selected</button>
                <button ng-click='clear()'>clear all data</button>
            </div>
        </div>
    </body>
</html>

