<!DOCTYPE html>
<html ng-app='root'>
    <head>
        <title>Cloudbeacon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='vendor/angular.js'></script>
        <script src='vendor/angular-cookies.js'></script>
        <script src='root.js'></script>
        <link rel='stylesheet' href='main.css'>
    </head>
    <body>
        <main id='app' ng-controller='index'>
        <div ng-show='!isUser'>
            <h1>Hello. It seems we haven't met before, what is your name?</h1>
            <form id='name-form' ng-submit='submitName()' autocomplete='off'>
                <input class='name-input' type='text' ng-model='name' placeholder='Enter name'>
                <input class='submit-button' type='submit' value='&#10095;'>
            </form>
        </div>
        <div ng-show='isUser'>
            <h1>
                <span ng-bind="timestring"></span> <span ng-bind="name"></span>. How are you?</h1>
            <h2>
                Today is <span ng-bind="time | date:fullDate"></span>.
                It's currently <span ng-bind="time | date:'h:mm:ss a'"></span>
            </h2>
            <div class='todo-list-container'>
                <form ng-submit='todoAdd()' autocomplete='off'>
                    <input class='task-input' type='text' ng-model='todoInput' placeholder='Add new task'>
                    <input class='submit-button' type='submit' value='&#10095;'>
                </form>
                <div ng-repeat='task in todoList track by $index'>
                    <input type='checkbox' ng-model='task.done'><span ng-bind='task.desc'></span>
                </div>
            </div>
            <button ng-click='todoRemove()'>delete selected</button>
            <button ng-click='clear()'>clear all data</button>
        </div>
        </main>
        <footer>
            Built with AngularJS, by Philip Scott
        </footer>
    </body>
</html>

