@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
}
body {
    background-image: url('img.jpg');
    background-size: cover;
}
#welcome-container {
    text-align: center;
    background-color: rgba(0,0,0,.3);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2%;
}
#welcome {
    font-size: 4em;
    font-weight: normal;
}
#today {
    font-size: 2em;
    font-weight: normal;
}
#name-field {
    color: white;
    background-color: black;
    font-size: 3em;
    margin: 0 auto;
    width: 50%;
    height: 300px;
}
